{%extends 'base2.html'%}

{%block body_block%}


    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 mt-5 mb-3">
                    <h1>LogIn</h1>
                </div>
                <div class="col-3"></div>
            </div>

            <form action="" method="post">

            {%csrf_token%}
            {{form.as_p}}

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <input type="submit" value="LogIn" class="btn btn-success">
                    </div>
                    <div class="col-4"></div>
                </div>


            </form>
        </div>
        <div class="col-4"></div>
    </div>

{%endblock%}