{%extends 'base.html'%}
{%block body_block%}


    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><br>
            {%if all_app%}

                  {%for app in all_app%}

                <h3>Applicants for {{app.job.job_title}}</h3>
                <div class="card" style="width: 18rem;">
                  <div class="card-header">
                    Applicant Name : {{app.applicant}}
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Applied Date : {{app.date}}</li>
                    <li class="list-group-item">Qualification : {{app.applicant.candidates.qualification}}</li>
                    <li class="list-group-item">CV : {{app.applicant.candidates.cv}}</li>
                  </ul>
                    <a href="{%url 'applicant-det' app.id%}" class="btn btn-success">View Profile</a>

              {%endfor%}

            {%else%}
                <h4>No new applications</h4>

            {%endif%}
        </div>

        <div class="col-4"></div>
    </div>
</div>

{%endblock%}