{%extends 'base.html'%}
{%block body_block%}

 <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="mt-5">Employer Details</h1>
            <div class="card mt-3" style="width: 18rem;">
              <img src="{{request.user.employers.logo.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><i>Company Name : </i>{{request.user.employers.company_name}}</h5>
                <p class="card-text"></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i><b>Bio : </b></i>{{request.user.employers.bio}}</li>
                <li class="list-group-item"><i><b>Services : </b></i>{{request.user.employers.services}}</li>
                <li class="list-group-item"><i><b>Location : </b></i>{{request.user.employers.location}}</li>
                  <a href="{%url 'e-update' request.user.employers.id%}" class="btn btn-warning">Edit</a>
              </ul>

            </div>
            <br><br>



        </div>
        <div class="col-4"></div>
    </div>

{%endblock%}