<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3>Jobs Posted By {{request.user}}</h3>
            <hr>
            {%for job in jobs%}
            Job Title : {{job.job_title}} <br>
            Designation : {{job.role}} <br>
            Posted Date : {{job.created_date}} <br>
            <a href="{%url 'job-detail' job.id%}" class="btn btn-outline-warning">View</a>
            <a href="{%url 'view_applic' job.id%}" class="btn btn-outline-success">View_Applications</a>
            <hr>
            {%endfor%}

        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>