<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="mt-5">Employer Details</h1>
            <div class="card mt-3" style="width: 18rem;">
              <img src="{{request.user.employers.logo.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><i>Company Name : </i>{{request.user.employers.company_name}}</h5>
                <p class="card-text"></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i><b>Bio : </b></i>{{request.user.employers.bio}}</li>
                <li class="list-group-item"><i><b>Services : </b></i>{{request.user.employers.services}}</li>
                <li class="list-group-item"><i><b>Location : </b></i>{{request.user.employers.location}}</li>
              </ul>
            </div>
            <a href="{%url 'emp_home'%}" class="btn btn-outline-warning">Back</a>

        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>