{%extends 'base.html'%}
{%block body_block%}

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 mt-2">

        <h4><u>All Jobs</u></h4>

      </div>
      <div class="col-4"></div>
    </div>
      {%for job in jobs%}
          <div class="card bg-dark" style="color:white;">
        <div class="card-header">
          <h5>Job Title : <b>{{job.job_title}}</b></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">Designation : <b>{{job.role}}</b></h5>
          <p class="card-text">Location : <b>{{job.location}}</b> </p>
          <p class="card-text">Location : <b>{{job.created_date}}</b> </p>
        </div>
             <a href="{%url 'job-detail' job.id%}" class="btn btn-primary">View</a>
      </div>
    <hr>
      {%endfor%}

      <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
              <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" style="color:blue;">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}" style="color:blue;">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" style="color:blue;">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" style="color:blue;">last &raquo;</a>
                        {% endif %}

                    </span>
                </div>
          </div>

          <div class="col-2"></div>
      </div>

  </div>
  <div class="col-4"></div>
</div>
<br><br>

{%endblock%}