<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
{%for appl in applied%}
<div>
    Title : {{appl.job.job_title}}
    Designation : {{appl.job.role}}
    Status : {{appl.status}}
    Applied Date : {{appl.date}}
</div>
<hr>
{%endfor%}
</body>
</html>