{%extends 'base.html'%}

{%block body_block%}

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <h3 class="card-title mt-2 mb-3"><u>About {{request.user}}</u></h3>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{{request.user.candidates.pro_pic.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name : {{request.user.candidates.user}}</li>
          <li class="list-group-item">Age : {{request.user.candidates.age}}</li>
          <li class="list-group-item">Qualification : {{request.user.candidates.qualification}}</li>
          <li class="list-group-item">Skills : {{request.user.candidates.skills}}</li>
          <li class="list-group-item">CV : {{request.user.candidates.cv}}</li>
        </ul>

        <a href="{%url 'c-update' request.user.candidates.id%}" class="btn btn-warning">Edit</a>

      </div>

    </div>
    <div class="col-4"></div>
  </div>

{%endblock%}